<launch>
  <param command="$(find xacro)/xacro $(find simple_hexapod_description)/urdf/simple_hexapod.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model simple_hexapod -z 0.2" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    <remap from="/joint_states" to="/simple_hexapod/joint_states"/>
  </node> -->
</launch>
